<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>📋 Yoklama QR Kodu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='logoktu.jpg') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
</head>
<body>
  <h1>📋 Yoklama QR Kodu (Tablet)</h1>
  {% with messages = get_flashed_messages(with_categories=false) %}
    {% if messages %}
      <ul class="messages">{% for m in messages %}<li>{{ m }}</li>{% endfor %}</ul>
    {% endif %}
  {% endwith %}

  <div class="logo">
    <img src="{{ url_for('static', filename='anasayfalogo.png') }}" alt="KTÜ Logo">
  </div>
   <br><br>
  <div class="links">
    <a href="{{ url_for('login') }}">Öğrenci Giriş</a>
    <a href="{{ url_for('teacher_login') }}">Öğretmen Giriş</a>
    <a href="{{ url_for('register') }}">Kayıt Ol</a>
  </div>



  <p>Öğrenci Girişi yapıldıktan sonra ders seçimi yaparak <strong> QR kodunuzu</strong> okutabilirisiniz.</p>

  <h2>Toplam Yoklama: <span id="count">{{ count }}</span></h2>

  <script>
    var socket = io();
    socket.on("update_count", function(data){
      if(document.getElementById("count")) {
        document.getElementById("count").innerText = data.count;
      }
    });
  </script>
</body>
</html>
